<?xml version="1.0"?>
<assembly>
    <id>plugin</id>
    <formats>
        <format>zip</format>
    </formats>
    <includeBaseDirectory>false</includeBaseDirectory>
    <dependencySets>
        <dependencySet>
            <outputDirectory>/elasticsearch-repository-oss</outputDirectory>
            <useProjectArtifact>true</useProjectArtifact>
            <useTransitiveFiltering>true</useTransitiveFiltering>
            <excludes>
                <exclude>org.elasticsearch:elasticsearch</exclude>
            </excludes>
        </dependencySet>
    </dependencySets>
    <fileSets>
        <fileSet>
            <directory>src/main/resources</directory>
            <outputDirectory>/elasticsearch-repository-oss</outputDirectory>
            <includes>
                <include>plugin-security.policy</include>
                <include>plugin-descriptor.properties</include>
                <include>log4j2.properties</include>
                <include>log4j.xml</include>
            </includes>
        </fileSet>
        <fileSet>
            <directory>lib</directory>
            <outputDirectory>/elasticsearch</outputDirectory>
            <includes>
                <include>*.jar</include>
            </includes>
        </fileSet>
    </fileSets>
</assembly>
